<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrix Master Community</title>
</head>
<body>
    <h1>Hello, <%= user.userName %></h1>
<a href="/logOut">Log Out</a>
<h1>Matrix Master Community</h1>
<a href="/addQuestion/<%= user._id %>">Add a new question</a>
<div>
    <ul>
        <% for (let i=0;i<question.length;i++){%>
        <li><%=question[i].title%>
            <br>
            <%=question[i].description%>
            <br>
            <%=question[i].created_at%>
            <br>
            <%=question[i].user.email%>
        </li>
        <a href="/question/<%=question[i]._id %>">See More...</a> 
        <%}%>
    </ul>
</div>
</body>
</html>